<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/admin.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <title>Tienda Fitness</title>
</head>
<body>
    <header>
         <h1>Tienda Fitness</h1>
         <p>Pagina Administrador</p>
    </header>
    <div class="container">
        <div class="admin">
             <a href="/categorias">Categorias</a>
             <a href="/productos">Productos</a>
             <a href="/imagenes">Imagenes</a>
        </div>
    </div>
    <footer>
          <span class="copyright">Todos los derechos reservados</span>
    </footer>
</body>
</html>