<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/aggctg.css">
    <title>Agregar Categoria</title>
</head>
<body>
    <h1>Agregar Categoria</h1>
    <div>
        <form action="/aggctg" method="post">
            <input type="text" name="nombre" id="nombre" placeholder="Ingrese el nombre de la categoria" required maxlength="25" minlength="4">
            <button type="submit" class="btn btn-primary">Subir Categoria</button>
        </form>
    </div>
</body>
</html>