<!DOCTYPE html>
<html>
  <head>
    <title>P3_30703432</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Hola mundo</h1>
    <p>Julio Charmelo</p>
    <p>C.I. 30.703.432</p>
    <p>Seccion 2</p>
  </body>
</html>