<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/index.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <title>Recuperación</title>
</head>
<style>
   a{
text-decoration: none;
  }
</style>
  <body>
    <header>
        <a href="/inicioSesionClientes" style="color: white;">Iniciar sesión : Cliente</a>
        <a href="/login" style="color: white;">Iniciar sesión : Administrador</a>
        <a href="/"><h1 style="color: white;">Tienda Fitness</h1></a>
    </header>
    <div class="container">
    <form name="formulario" action="/recuperar" method="post">
        <table class="form-register">
          <caption align="top"><h3>Recuperar</h3></caption>
          <tr>
            <td class="texto"><h4>Correo:</h4></td>
          </tr>
          <tr>
              <td><input class="control" type="email" name="email" id="email" placeholder="Ingrese el correo" required></td>
          </tr> 
          <tr>
        </table>
        <input class="botons" type="submit" value="Recuperar">
    </form>
  </div>
    <footer>
      <span class="copyright">Todos los derechos reservados</span>
    </footer>
  </body>
</html>