<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/index.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <script src="https://www.google.com/recaptcha/api.js" async defer></script>
  <title>Registro</title>
</head>
  <body>
    <header>
        <a href="/inicioSesionClientes" style="color: white;">Iniciar sesi칩n : Cliente</a>
        <a href="/login" style="color: white;">Iniciar sesi칩n : Administrador</a>
        <a href="/"><h1 style="color: white;">Tienda Fitness</h1></a>
    </header>
    <div class="container">
    <form name="formulario" action="/registroclientes" method="post">
        <table class="form-register">
          <caption align="top"><h3>Registro</h3></caption>
          <tr>
            <td class="texto"><h4>Correo:</h4></td>
          </tr>
          <tr>
              <td><input class="control" type="text" name="email" id="email" placeholder="Ingrese el correo" required></td>
          </tr> 
          <tr>
            <td class="texto"><h4>Contrase침a:</h4></td>
          </tr>
          <tr>
              <td><input class="control" type="password" name="password" id="password" minlength="6" maxlength="10" placeholder="Ingrese la Contrase침a" required></td>
          </tr>
          <tr>
            <td><div class="g-recaptcha" data-sitekey="6LdX3k8pAAAAADdUiCYy7BxmUdths4Vjwru4pZdo"></div></td>
          </tr>
        </table>
        <input class="botons" type="submit" value="Registrarse">
    </form>
  </div>
    <footer>
      <span class="copyright">Todos los derechos reservados</span>
    </footer>
  </body>
</html>