body{
    background-color: #d1d1d1;
}

form {
  width: 500px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #a0a0a0;
}

input, textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #a0a0a0;
}

input[type="text"], input[type="number"], input[type="email"], input[type="password"] {
  height: 30px;
}

textarea {
  height: 100px;
}

button {
  width: 100%;
  height: 40px;
  background-color: #000;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

/* Estilos para los campos del formulario */

#nombre {
  margin-bottom: 10px;
}

/* Estilos para el botón */

.btn-primary {
  background-color: #000;
  color: white;
  font-size: 16px;
  cursor: pointer;
}
h1{
  text-align: center;
}
